{
    "overrides": [
      {
        "files": ["*.js", "*.vue", "*.ts", "*.tsx", "*.css", "*.scss", "*.json"],
        "options": {
          "bracketSpacing": true,
          "printWidth": 100,
          "semi": true,
          "singleQuote": true,
          "tabWidth": 2,
          "trailingComma": "all",
          "useTabs": false
        }
      },
      {
        "files": ["*.scss"],
        "options": {
          "printWidth": 120
        }
      }
    ]
  }
  